


.all{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(8,13vw); */
    grid-gap: 5px;  
}
.one{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.pic1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pic2{
    grid-row-start: 1;
    grid-row-end: 4;   
}
.pic4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.pic5{
    grid-row-start:2 ;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}



.pic11{
    grid-column-start: 2;
    grid-column-end: 4;
}
.pic13{
    grid-column-start: 5;
    grid-column-end: 7;
}


    
    
