<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task flex</title>
        <style>
            body {
                background-color: lightcoral;
            }

            .main {
                display: flex;
                margin: auto;
                font-size: x-large;
                flex-wrap: wrap;
            }

            .left {
                background-color: peru;
                width: 40%;
                justify-content: flex-start;
            }

            .right {
                background-color: lightpink;
                width: 60%;
                justify-content: flex-end;
            }

            .left1 {
                background-color: indianred;
                width: 65%;
                justify-content: flex-start;
            }

            .right1 {
                background-color: navajowhite;
                width: 35%;
                justify-content: flex-end;
            }
        </style>
    </head>

    <body>
        <h1>OLD FLEXBOX</h1>
        <div class="main">

            <div class="left">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias esse delectus odit libero
                    nostrum
                    hic, suscipit reiciendis incidunt nisi quia quaerat nihil perspiciatis maxime beatae illo. Nostrum,
                    est
                    asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt assumenda repellendus
                    magnam
                    quam voluptas? Itaque magni totam debitis quod adipisci dolor tempora distinctio, dolore facere
                    error
                    iste nesciunt! Sequi, quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    incidunt
                    veritatis quam maxime fuga voluptate quasi deleniti quod! Quaerat voluptatibus hic eos totam ab,
                    voluptates voluptatem distinctio possimus in quas? Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    elit. Modi a voluptates natus facere? Libero amet itaque eaque. Explicabo nobis sequi adipisci sit,
                    quos
                    quidem dolorum delectus, expedita vitae nostrum sint! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Velit alias assumenda quod? Voluptas voluptatibus facere fuga, assumenda beatae
                    nulla
                    quod architecto dolores laboriosam facilis fugit saepe amet deleniti perspiciatis vero?</p>
            </div>
            <div class="right">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias esse delectus odit libero
                    nostrum
                    hic, suscipit reiciendis incidunt nisi quia quaerat nihil perspiciatis maxime beatae illo. Nostrum,
                    est
                    asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt assumenda repellendus
                    magnam
                    quam voluptas? Itaque magni totam debitis quod adipisci dolor tempora distinctio, dolore facere
                    error
                    iste nesciunt! Sequi, quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    incidunt
                    veritatis quam maxime fuga voluptate quasi deleniti quod! Quaerat voluptatibus hic eos totam ab,
                    voluptates voluptatem distinctio possimus in quas? Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    elit. Modi a voluptates natus facere? Libero amet itaque eaque. Explicabo nobis sequi adipisci sit,
                    quos
                    quidem dolorum delectus, expedita vitae nostrum sint! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Velit alias assumenda quod? Voluptas voluptatibus facere fuga, assumenda beatae
                    nulla
                    quod architecto dolores laboriosam facilis fugit saepe amet deleniti perspiciatis vero?</p>
            </div>
            <div class="left1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias esse delectus odit libero
                    nostrum
                    hic, suscipit reiciendis incidunt nisi quia quaerat nihil perspiciatis maxime beatae illo. Nostrum,
                    est
                    asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt assumenda repellendus
                    magnam
                    quam voluptas? Itaque magni totam debitis quod adipisci dolor tempora distinctio, dolore facere
                    error
                    iste nesciunt! Sequi, quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    incidunt
                    veritatis quam maxime fuga voluptate quasi deleniti quod! Quaerat voluptatibus hic eos totam ab,
                    voluptates voluptatem distinctio possimus in quas? Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    elit. Modi a voluptates natus facere? Libero amet itaque eaque. Explicabo nobis sequi adipisci sit,
                    quos
                    quidem dolorum delectus, expedita vitae nostrum sint! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Velit alias assumenda quod? Voluptas voluptatibus facere fuga, assumenda beatae
                    nulla
                    quod architecto dolores laboriosam facilis fugit saepe amet deleniti perspiciatis vero?</p>
            </div>
            <div class="right1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias esse delectus odit libero
                    nostrum
                    hic, suscipit reiciendis incidunt nisi quia quaerat nihil perspiciatis maxime beatae illo. Nostrum,
                    est
                    asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt assumenda repellendus
                    magnam
                    quam voluptas? Itaque magni totam debitis quod adipisci dolor tempora distinctio, dolore facere
                    error
                    iste nesciunt! Sequi, quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                    incidunt
                    veritatis quam maxime fuga voluptate quasi deleniti quod! Quaerat voluptatibus hic eos totam ab,
                    voluptates voluptatem distinctio possimus in quas? Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    elit. Modi a voluptates natus facere? Libero amet itaque eaque. Explicabo nobis sequi adipisci sit,
                    quos
                    quidem dolorum delectus, expedita vitae nostrum sint! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Velit alias assumenda quod? Voluptas voluptatibus facere fuga, assumenda beatae
                    nulla
                    quod architecto dolores laboriosam facilis fugit saepe amet deleniti perspiciatis vero?</p>
            </div>
        </div>

    </body>

    </html>

</body>

</html>