<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://kit.fontawesome.com/5a5b095c63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="temptt7.css">
</head>

<body>
    <div class="head">
        <div class="left">
            <h2> <img src="https://www.transparentpng.com/thumb/school/RPniNT-school-simple.png"
                    alt="" width="70px" height="55px"></h2><br>
        </div>
        <div class="right">
            <div class="one">
                <h2><i class="fa-regular fa-circle-check" style="color: #ffffff;"></i>our calander</h2>
                <p>see imortant dates</p>
            </div>
            <div class="two">
                <h2><i class="fa-regular fa-circle-check" style="color: #ffffff;"></i>ED Alumini</h2>
                <p>Advisory council</p>
            </div>
            <div class="three">
                <h2><i class="fa-regular fa-circle-check" style="color: #ffffff;"></i>Welcome to ED</h2>
                <p>Parent, Teacher, Pupil</p>
            </div>
            <div class="four">
                <button>contact</button>
            </div>
        </div>
    </div>
    <div>
        <nav>

            <a href="#">Home</a>
            <a href="$">Aboutus</a> 
            <a href="&">Academics</a>          
            <a href="*">Schoollife</a>           
            <a href="#">News</a>            
            <a href="$">Calander</a>            
            <a href="&">Contact</a>
           
        </nav>
        <nav class="nav1">
            <a href="#">&blacktriangledown;</a>
            <a href="$">&blacktriangledown;</a>
            <a href="&">&blacktriangledown;</a>
            <a href="*">&blacktriangledown;</a>
            <a href="#">&blacktriangledown;</a>
            <a href="$">&blacktriangledown;</a>
            <a href="&">&blacktriangledown;</a>
        </nav>

        <div class="font">
            <i class="fa-brands fa-twitter fa-xl"  style="color: #005eff;" > </i>
            <i class="fa-brands fa-facebook fa-xl" style="color: #005eff;" ></i>
            <i class="fa-brands fa-youtube fa-xl" style="color: #ff0000;" ></i>
            <i class="fa-brands fa-google-plus-g fa-xl" style="color: #f53100;" ></i>
        </div>
    </div>
    <hr>
    <div class="ab">
        <div class="ab1">
            <div class="ab2">
                <h2>ideas are worth <br>spreading</h2>
                Hannah, lan & leon, 7th grade
            </div>

        </div>
        <div class="ab3">
            <div class="ab4">
                <h2>
                    <i class="fa-solid fa-bell fa-xl" id="lb" style="color: #ff0000;"></i>WELCOME TO ED
                    SCHOOL
                </h2>
                <p>ED's community is best described as a,<br>neighborhood where everyone looks<br>after each other</p>
            </div>
            <div class="ab5">
                <h2>
                    <i class="fa-solid fa-train-subway fa-xl"id="lb"  style="color: #db0000;"></i>Practicle
                    school
                </h2>
                <p>The ED Community School District is made up of elementary schools one middle.</p>
            </div>
            <div class="ab6">
                <h2>
                    <i class="fa-solid fa-mobile-screen-button fa-xl"id="lb"  style="color: #f61313;"></i>sensorial
                    Activities
                </h2>
                <p>From our outstanding music program to our pre-engineering program and everything in between.</p>
            </div>
            <div class="ab7">
                <h2>
                    <h2> <i class="fa-solid fa-person-circle-check fa-xl"id="ab8"  style="color: #f00303;"></i>
                        language science
                    </h2>
                    <p>our Schools offer excellent opportunities for students as they prepare for their future.</p>
            </div>
        </div>
    </div>

</body>
</html>