.container {
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: 70px auto 40px;
    grid-template-areas: ". h h h h h h h h h h . "
        "m c c c c c c c c c c c "
        "f f f f f f f f f f f f ";

    grid-gap: 2px;
    height: 100%;
}

.header {
    /* grid-column: 2/-1; */
    grid-area: h;
    
}

.footer {
    /* grid-column: 2/-1; */
    grid-area: f;
}

.content {
    /* grid-column: 2/-1; */
    grid-area: c;
}

 /* .menu {
     grid-row: 1/-1;
     grid-area: m;
}  */